# Preprocessing Data

In [28]:
import pandas as pd

surabaya_df = pd.read_csv("../../data/rumah123_surabaya.csv")
gresik_df = pd.read_csv("../../data/rumah123_gresik.csv")
sidoarjo_df = pd.read_csv("../../data/rumah123_sidoarjo.csv")

rumah123_df = pd.concat([surabaya_df, gresik_df, sidoarjo_df])
rumah123_df

,price,name,location,bedroom,bathroom,land_area,building_area
0,"Rp 1,68 Miliar",Rumah Baru Gress Daerah Merr Dan Jalan Kembar ...,"Rungkut, Surabaya",3,3,67 m²,120 m²
1,Rp 950 Juta,Jual Rumah 2 Lantai Medokan Ayu Utara,"Medokan Ayu, Surabaya",3,3,72 m²,140 m²
2,Rp 500 Juta,Rumah Dekat Merr 500juta Di Wonorejo Rungkut,"Wonorejo, Surabaya",2,1,30 m²,36 m²
3,Rp 950 Juta,Cluster Baru Mewah Dekat Merr Oerr Dan Kampus,"Sukolilo, Surabaya",2,2,50 m²,55 m²
4,Rp 600 Juta,Perumahan Murah Kebraon Surabaya Selatan,"Kebraon, Surabaya",2,1,50 m²,56 m²
...,...,...,...,...,...,...,...
10012,"Rp 1,2 Miliar","Rumah Diamond Park, Juanda, Sidoarjo","Sedati, Sidoarjo",3,2,90 m²,112 m²
10013,Rp 660 Juta,"Rumah Pesona Sekar Gading, Sekardangan, Sidoarjo","Sidoarjo, Sidoarjo",2,1,90 m²,70 m²
10014,Rp 3 Miliar,"murah, ...Hitung tanah,..pusat industri ngingas","Waru, Sidoarjo",4,1,1300 m²,200 m²
10015,Rp 600 Juta,Rumah Siap Huni Murah Oasis Residence Juanda S...,"Sedati, Sidoarjo",2,1,84 m²,60 m²
10016,"Rp 3,65 Miliar",rumah full furnish deltasari indah sidoarjo,"Waru, Sidoarjo",4,3,300 m²,420 m²

In [29]:
# rumah123_df.columns = [col.lower().strip().replace(" ", "_") for col in rumah123_df.columns]

### Menghapus format m2 (meter persegi)

In [30]:
def remove_m2(df):
    df["building_area"] = (
        df["building_area"].replace(r"(\d+)\s*m²", r"\1", regex=True).astype(float)
    )
    df["land_area"] = (
        df["land_area"].replace(r"(\d+)\s*m²", r"\1", regex=True).astype(float)
    )


remove_m2(rumah123_df)

rumah123_df

,price,name,location,bedroom,bathroom,land_area,building_area
0,"Rp 1,68 Miliar",Rumah Baru Gress Daerah Merr Dan Jalan Kembar ...,"Rungkut, Surabaya",3,3,67.0,120.0
1,Rp 950 Juta,Jual Rumah 2 Lantai Medokan Ayu Utara,"Medokan Ayu, Surabaya",3,3,72.0,140.0
2,Rp 500 Juta,Rumah Dekat Merr 500juta Di Wonorejo Rungkut,"Wonorejo, Surabaya",2,1,30.0,36.0
3,Rp 950 Juta,Cluster Baru Mewah Dekat Merr Oerr Dan Kampus,"Sukolilo, Surabaya",2,2,50.0,55.0
4,Rp 600 Juta,Perumahan Murah Kebraon Surabaya Selatan,"Kebraon, Surabaya",2,1,50.0,56.0
...,...,...,...,...,...,...,...
10012,"Rp 1,2 Miliar","Rumah Diamond Park, Juanda, Sidoarjo","Sedati, Sidoarjo",3,2,90.0,112.0
10013,Rp 660 Juta,"Rumah Pesona Sekar Gading, Sekardangan, Sidoarjo","Sidoarjo, Sidoarjo",2,1,90.0,70.0
10014,Rp 3 Miliar,"murah, ...Hitung tanah,..pusat industri ngingas","Waru, Sidoarjo",4,1,1300.0,200.0
10015,Rp 600 Juta,Rumah Siap Huni Murah Oasis Residence Juanda S...,"Sedati, Sidoarjo",2,1,84.0,60.0
10016,"Rp 3,65 Miliar",rumah full furnish deltasari indah sidoarjo,"Waru, Sidoarjo",4,3,300.0,420.0

### Format harga

In [31]:
def convert_currency(value):
    value = value.replace("Rp", "").replace(",", ".").strip()  # Hapus Rp & ganti , ke .

    if "Miliar" in value:
        return float(value.replace("Miliar", "").strip()) * 1_000
    elif "Juta" in value:
        return float(value.replace("Juta", "").strip())
    else:
        return float(value) / 1_000_000  # Jika tidak ada satuan, bagi dengan juta


rumah123_df["price"] = rumah123_df["price"].apply(convert_currency)
rumah123_df

,price,name,location,bedroom,bathroom,land_area,building_area
0,1680.0,Rumah Baru Gress Daerah Merr Dan Jalan Kembar ...,"Rungkut, Surabaya",3,3,67.0,120.0
1,950.0,Jual Rumah 2 Lantai Medokan Ayu Utara,"Medokan Ayu, Surabaya",3,3,72.0,140.0
2,500.0,Rumah Dekat Merr 500juta Di Wonorejo Rungkut,"Wonorejo, Surabaya",2,1,30.0,36.0
3,950.0,Cluster Baru Mewah Dekat Merr Oerr Dan Kampus,"Sukolilo, Surabaya",2,2,50.0,55.0
4,600.0,Perumahan Murah Kebraon Surabaya Selatan,"Kebraon, Surabaya",2,1,50.0,56.0
...,...,...,...,...,...,...,...
10012,1200.0,"Rumah Diamond Park, Juanda, Sidoarjo","Sedati, Sidoarjo",3,2,90.0,112.0
10013,660.0,"Rumah Pesona Sekar Gading, Sekardangan, Sidoarjo","Sidoarjo, Sidoarjo",2,1,90.0,70.0
10014,3000.0,"murah, ...Hitung tanah,..pusat industri ngingas","Waru, Sidoarjo",4,1,1300.0,200.0
10015,600.0,Rumah Siap Huni Murah Oasis Residence Juanda S...,"Sedati, Sidoarjo",2,1,84.0,60.0
10016,3650.0,rumah full furnish deltasari indah sidoarjo,"Waru, Sidoarjo",4,3,300.0,420.0

### Memastikan data yang dipakai itu rumah

In [32]:
rumah123_df = rumah123_df[
    ~rumah123_df["name"].str.contains("kos|apartemen|tanah", case=False, na=False)
]

### Sesuaikan nilai pada kolom location

In [33]:
rumah123_df['location'] = rumah123_df['location'].replace('Surabaya Kota, Surabaya', 'Surabaya')
rumah123_df['location'] = rumah123_df['location'].replace('Waru, Surabaya', 'Waru, Sidoarjo')
rumah123_df = rumah123_df[rumah123_df['location'] != 'Sidoarjo, Surabaya']

rumah123_df['location'] = rumah123_df['location'].replace('Gresik, Gresik', 'Gresik')
rumah123_df['location'] = rumah123_df['location'].replace('Gresik Kota, Gresik', 'Gresik')

rumah123_df['location'] = rumah123_df['location'].replace('Sidoarjo, Sidoarjo', 'Sidoarjo')

C:\Users\munaf\AppData\Local\Temp\ipykernel_11080\2649822957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rumah123_df['location'] = rumah123_df['location'].replace('Surabaya Kota, Surabaya', 'Surabaya')
C:\Users\munaf\AppData\Local\Temp\ipykernel_11080\2649822957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rumah123_df['location'] = rumah123_df['location'].replace('Waru, Surabaya', 'Waru, Sidoarjo')

### Konsistensi nama lokasi

In [34]:
rumah123_df["location"] = rumah123_df["location"].str.title()

### Export CSV

In [35]:
rumah123_df = rumah123_df.astype({"price": int, "land_area": int, "building_area": int})
rumah123_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37358 entries, 0 to 10016
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          37358 non-null  int32
 1   name           37357 non-null  object
 2   location       37358 non-null  object
 3   bedroom        37358 non-null  int64
 4   bathroom       37358 non-null  int64
 5   land_area      37358 non-null  int32
 6   building_area  37358 non-null  int32
dtypes: int32(3), int64(2), object(2)
memory usage: 1.9+ MB

In [36]:
rumah123_df.to_csv("../../data/rumah123_cleaned.csv", index=False)